// main section styling
main {
    padding: 35px 0;
    background: rgb(5,37,65);
    background: linear-gradient(180deg, rgba(5,37,65,0.16150210084033612) 26%, rgba(255,255,255,0.5844712885154062) 60%);  
}

.cards {
    margin: 20px;
    width: calc(100% / 5 - 40px);
    height: 350px;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #00D277;
    border-radius: 20px;
}

.details {
    margin-top: 1.25rem;
    color: #052541;
}